.input-card {
    padding: 25px;
    width: 50%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    transform: translate(50%, 250%);

}

.download-button {
    padding-top: 10px;
}

.form-control{
    width: 65% !important;
}